<div fxLayout="column"  fxLayoutAlign="space-between stretch">
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around center" style="background: rgba(255, 255, 255, 0.6); padding: 12px">
        <md-input-container fxFlex="33" fxFlex.xs="100">
            <input #locationInput mdInput placeholder="Location" value="{{location}}" (keyup)="onKey(locationInput.value)"/>
        </md-input-container>
        <md-select placeholder="Temperature units" [(ngModel)]="tempUnit" fxFlex="33" fxFlex.xs="100">
            <md-option *ngFor="let unit of units" [value]="unit.unit">{{ unit.name }}</md-option>
        </md-select>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <span class="unitTitle">Temperature</span>
            <span class="unitValue">{{getTemp()}} &#176;C</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <span class="unitTitle">Humidity</span>
            <span class="unitValue">{{humidity}} %</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <span class="unitTitle">Pressure</span>
            <span class="unitValue">{{pressure}} hPa</span>
        </div>
    </div>
</div>
