:host {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/weather.jpg');
    md-card-content {
        text-align: center;
    }
    .unitTitle {
        font-size: 2em;
        color: white;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
    .unitValue {
        font-size: 4em;
        color: white;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
}
