<div fxLayout="column" fxLayoutAlign="space-between stretch" class="bg-black">
    <router-outlet></router-outlet>
    <div fxLayout="row" fxLayoutAlign="space-around center" style="padding: 12px;">
        <button md-fab routerLink="/weather" class="bg-green yellow">
            <md-icon>wb_sunny</md-icon>
        </button>
        <button md-fab routerLink="/climate-control" class="bg-blue white">
            <md-icon>ac_unit</md-icon>
        </button>
        <button md-fab routerLink="/monitoring" class="bg-red black">
            <md-icon>videocam</md-icon>
        </button>
        <button md-fab routerLink="/security" class="bg-white red">
            <md-icon>security</md-icon>
        </button>
        <button md-fab routerLink="/entertainment" class="bg-purple orange">
            <md-icon>audiotrack</md-icon>
        </button>
        <a href="#" [mdMenuTriggerFor]="appMenu">
            <md-icon>more_vert</md-icon>
        </a>
    </div>
</div>
<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>
