/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body, app-root {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;

  height: 100vh;
}

body {
    overflow: hidden;
}

/* colors */

.bg-black {
    background: black;
}

.bg-blue {
    background: blue;
}

.bg-brown {
    background: brown;
}

.bg-green {
    background: green;
}

.bg-purple {
    background: purple;
}

.bg-red {
    background: red;
}

.bg-white {
    background: white;
}

.black {
    color: black;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

